REDIS_URL=redis://redis:6379/0
CELERY_QUEUE=animify.video.process
WORK_DIR=/tmp/animify-worker
COMFYUI_URL=http://comfyui:8188
PREFER_GPU=true

SUPABASE_URL=https://gybemqrhlptwmnfugjkm.supabase.co
SUPABASE_SECRET_KEY=
SUPABASE_STORAGE_BUCKET=animify-videos
